#page{
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background: url('../../img/electric.jpg') no-repeat ; 

    display: flex;

    align-items: center;
}
       

#page .wrapper {
    position: relative;

    width: 100%;
    max-width: 890px;

    height: 100%;
    max-height: 680px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
       
}

.wrapper #header {
    width: 880px;
   
    height: 47px;
    background-color: #eaeaea;

    position: absolute;
    display: flex;
    flex-direction: column;

    text-align: right;

    border-style: solid;
    border-color: #3f4140;
    border-radius: 2px;
}

.wrapper #header p {
    font-size: 25px;
    margin-top: 8px;
    margin-right: 15px;
    font-weight: 500;
    color: #3f4140;
}

.wrapper #forms {
    width: 300px;
    height: 125px;

    background-color: #eaeaea;

    position: absolute;
    display: flex;
    flex-direction: column;

    bottom: 20%;
    right: 10%;

    border-radius: 2px;
    border-style: solid;
    border-color: #3f4140;

    justify-content: center;
    align-items: center;
}

#forms .botao {
    background-color: #eaeaea;

    width: 70px;
    height: 23px;
    position: absolute;
    display: flex;

    bottom: 5%;
    right: 5%;

    transition: background-color 0.3s;

    font-weight: 600;
    border-color: #3f4140;
    border-radius: 5px;
}

#forms .botao:hover{
    background-color: #3f4140;
}

#forms input {
    height: 20px;
    margin: 1px;

    background-color: #eaeaea;

    border-color: #3f4140;
    border-radius: 3px;
}

#forms label {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;

    padding: 15px;
    
}

#forms #user {
  margin: 5px; 
}

#forms #senha {
    margin: 10px;
    padding-left: 3px;
}
