*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li {
  list-style-type: none;
}

#conteiner{
    display: flex;
    justify-content: space-between;
}

#page-list{
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    max-width: 880px;
    max-height: 600px;
    display: flex;

    align-items: center;
}

#page-list #conteiner {
    position: relative;

    width: 100%;
    max-width: 890px;

    height: 100%;
    max-height: 680px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
       
}

#conteiner #header {
    width: 880px;
   
    height: 47px;
    background-color: #E8E8E8;

    position: absolute;
    display: flex;
    flex-direction: column;

    text-align: right;

    border-style: solid;
    border-color: #3f4140;
    border-radius: 2px;
}

#conteiner #header p {
    font-size: 25px;
    margin-top: 8px;
    margin-right: 15px;
    font-weight: 500;
    color: #3f4140;
}


#conteiner #list {
    top: 37%;
    left: 15%;
    
    position: absolute;
    display: flex;

    flex-direction: column;
}

#list #row {
    position: relative;
    display: flex;

    flex-direction: row;

    justify-content: space-between;
}

#list {
    background-color: #EEE8CD;
    width: 600px;
    
    border-style: solid;
    border-color: #3f4140;
    border-radius: 2px;
}
#list-titulo h2{
    position: relative;
    display: flex;

    margin: 190px 140px ;
    
    font-size: 16pt;
    font-weight: 400;
}

#list #row-cabe {
    position: relative;
    display: flex;

    height: 30px;

    flex-direction: row;
    justify-content: space-between;   
}

#list #row-cabe p {
    font-weight: 600;
    font-size: 12pt;
}

#row-cabe #row-cabe-cod {
    width: 130px;
    display: flex;
    padding-left: 10px;
    
    background-color: #c0c0c0;

    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #404040; 
    
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #404040;
}

#row-cabe #row-cabe-nome {
    width: 220px;
    display: flex;
    padding-left: 10px;
    
    background-color: #c0c0c0;
    
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #404040;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #404040;
}

#row-cabe #row-cabe-excluir{
    width: 68px;
    display: flex;
    padding-left: 3px;
    
    background-color: #c0c0c0;
    
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #404040;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #404040;
}

#row-cabe #row-cabe-edit {
    width: 68px;
    display: flex;
    padding-left: 3px;
    
    background-color: #c0c0c0;
    
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #404040;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #404040;
}

#row-cabe #row-cabe-map {
    width: 114px;
    display: flex;
    padding-left: 3px;
    
    background-color: #c0c0c0;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #404040;
}

/* Linhas com conteudo da api */
#row {
    height: 30px;
}

#row #row-cod {
    width: 130px;

    display: flex;

    justify-content: center;
    justify-items: center;
    
    background-color: #ffffff;

    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #404040;   

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
}

#row #row-nome {
    width: 220px;
    display: flex;
    padding-left: 10px;
    
    background-color: #ffffff;
    
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #404040;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
}

#row #row-excluir{
    width: 68px;
    display: flex;
    justify-content: center;
    justify-items: center;
    
    background-color: #ffffff;
    
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #404040;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
}
#row-excluir a{
    color: #000;
    font-size: 11pt;
}

#row #row-edit {
    width: 68px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 7px;
    
    background-color: #ffffff;
    
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #404040;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
}

#row #row-map {
    width: 114px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding-top: 6px;
    
    background-color: #ffffff;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
}

#list p {
    padding-top: 5px;
    text-align: center;
}

#buttom {
    display: flex;
    position: relative;
    
    text-decoration-color: #000;
    background-color: #eaeaea;

    width: 79px;
    height: 30px;

    left: 74%;
    bottom: 26%;

    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: #404040;

    transition: background-color 0.4s;
}

#buttom:hover {
    background-color: #3f4140;
    
}
#buttom a {
    text-decoration: none;
    color: #000;
    padding-left: 17px;
    padding-top: 4px;
    font-weight: 400;
}
#buttom a:hover {
    color: #fff;
}