.screenEdit{
    max-width: 880px;
    width: 100vw;
    height: 1000px;
    background-color: #c0c0c0;
}
.nav {
    width: 260px;
    height: 40px;

    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
    left: 10px;
}
.nav p {
    font-weight: 500;
    font-size: 14pt;
    padding: 3px;
    margin-top: 3px;
    color: #3b78af;
}

#select {
    color: #9d9d9d;
}

.sub {
    width: 850px ;
    height: 300px;

    background-color: #3b78af;
    display: flex;
    position: absolute;

    top: 115px;
    right: 485px;

    border-style: solid;
    border-width: 2px;
    border-color: #404040;
    border-radius: 4px;
}